<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primeros estilos</title>
    <style>
        body {
            background-color: blueviolet;
        }

        h1 {
            color: whitesmoke;
            text-align: center;
        }

        p {
            font-family: Verdana;
            font-size: 20px;
            background-image: -moz-linear-gradient(#F4FA58, #f70303);
            background-color: #F4FA58;
        }
    </style>
</head>
<body>
    <h1>Mi primer ejemplo CSS</h1>
    <p>Esto es un parrafo</p>
</body>
</html>