/* variables globales en css */
:root {
    --primary-color: #fa9658;
    --second-color: blue;
}


/* selector hermano adyacene  */

div + p {
    background-color: var(--primary-color);
}


/* pseudo-clase */
a:link {
    color: red;
}

a:visited {
    color: green;
}

a:hover {
    color: hotpink;
}

a:active {
    color: var(--second-color);
}

p::first-letter {
    color: red;
    font-size: xx-large;
}

/* pseudo-elemento */
p::first-line {
    color: blue;
}

/* selector de atributos */
a[target=_blank] {
    background-color: var(--primary-color);
}

h2.a {
    visibility: visible;
    cursor: help;
}


h2.b {
    display: none;
}
