<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dom</title>
</head>
<body>
    <input type="text" id="1">
    <p>Párrafo</p>

    <h3 name="primer">Walter</h3>
    <h3 class="clase">Hola</h3>
    <h3 class="clase">Mundo</h3>

    <br>
    <button onclick="document.getElementById('demo').innerHTML = Date()">Fecha y hora</button>
    <p id="demo"></p>
    <br>

    <input type="text" id="original" onkeyup="duplicar()">
    <input type="text" id="duplicado">

    <div
        style="width: 120px; height: 20px; background-color: red;"
        onmouseover="mouseOver(this)"
        onmouseout="mouseOut(this)"
    >
        Doom
    </div>

    <script>

        var input = document.getElementById('1')
        input.value = 'hola'
        console.log(input)
        
        var parrafos = document.getElementsByTagName('p') 
        console.log(parrafos)
        parrafos[0].innerHTML = "hola"

        console.log(document.getElementsByName("primer"))
        console.log(document.getElementsByClassName("clase"))

        function duplicar() {
            var valor = document.getElementById("original").value
            document.getElementById("duplicado").value = valor
        }

        function mouseOver(elemento) {
            elemento.innerHTML = "Slayer"
        }

        function mouseOut(elemento) {
            elemento.innerHTML = "Doom"
        }
    </script>
</body>
</html>